# =============== # 
# Unity generated # 
# =============== # 
Temp/
Obj/
UnityGenerated/
Library/
UserSettings/
*.dwlt
# ===================================== # 
# Visual Studio / MonoDevelop generated # 
# ===================================== # 
ExportedObj/ 
.vs/
*.svd 
*.userprefs 
*.csproj 
*.pidb 
*.suo 
*.sln 
*.user 
*.unityproj 
*.booproj   
# ============ # 
# OS generated # 
# ============ # 
.DS_Store 
.DS_Store? 
._* 
.Spotlight-V100 
.Trashes 
ehthumbs.db 
Thumbs.db 
GraphicsSettings.asset 
ProjectSettings.asset 
ProjectVersion.txt
*.csproj
*.suo
*.log
Assets/Resources/BillingMode.json
Assets/Resources/BillingMode.json.meta
MemoryCaptures/
